@charset "UTF-8";
:root {
  --main-font: Roboto, sans-serif;
  --auxiliary-font: Raleway, sans-serif;
  --header-logo: #000000;
  --header-color-border: #ececec;
  --hero-linear-gradient-start: rgba(48, 58, 47, 0.4);
  --hero-linear-gradient-end: rgba(48, 58, 47, 0.4);
  --background-color-hero: #c4c4c4;
  --background-social-icon-footer: rgba(255, 255, 255, 0.1);
  --background-color-hero-footer: #2f303a;
  --title-text-color-hero-footer: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --static-color-svg-icons: #afb1b8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-primary-background: #f5f4fa;
  --button-hover: #188ce8;
  --background-color-modal: rgba(0, 0, 0, 0.2);
  --background-card-back-side: rgba(33, 150, 243, 0.9);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

/* Прибить заголовки вне макета (списал на GitHab у Саньки Репеты)*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: var(--auxiliary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--header {
  margin-right: 93px;
  color: var(--header-logo);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--title-text-color-hero-footer);
}

.button {
  padding: 10px;
  text-decoration: none;
  border-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--title-text-color-hero-footer);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--button-hover);
}

.button--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--title-text-color-hero-footer);
}

.button--icon {
  margin-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button--dimensions {
  min-width: 200px;
  min-height: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title,
.footer__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.section__title .heading,
.footer__title .heading {
  color: var(--title-text-color);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.social__list--our-team {
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--static-color-svg-icons);
}

/*=============== social--footer =================*/
.social__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.social-item--footer {
  background-color: var(--background-social-icon-footer);
  border-radius: 50%;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social__icon--footer {
  fill: var(--primary-white-color);
}

.header {
  border-bottom: 1px solid var(--header-color-border);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  /*отступ справа кроме последнего элемента*/
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav__link.current {
  position: relative;
  color: var(--accent-color);
}

.nav__link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
}

/*================= Навигация, contacts =================*/
.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-linear-gradient-start)), to(var(--hero-linear-gradient-end))), url("../images/bghero.jpg");
  background-image: linear-gradient(to right, var(--hero-linear-gradient-start), var(--hero-linear-gradient-end)), url("../images/bghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--title-text-color-hero-footer);
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--button-primary-background);
}

.feature__svg {
  height: inherit;
}

.feature__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-work {
  padding-top: 0;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-work__title {
  margin-bottom: 50px;
}

.work .heading {
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__img {
  display: block;
}

.work__thumb {
  position: relative;
}

.work__thumb-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.work__thumb-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-primary-background);
}

.our-team__title {
  margin-bottom: 50px;
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team__item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__cards {
  padding-bottom: 30px;
  text-align: center;
}

.our-team__img {
  margin-bottom: 30px;
}

.our-team__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.our-team__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.customers__title {
  padding-bottom: 50px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__item {
  width: calc((100%-30px) / 6);
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--static-color-svg-icons);
  border-radius: 4px;
  fill: var(--static-color-svg-icons);
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms border cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms border cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-wrap {
  margin-bottom: 50px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.button--filter {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--button-primary-background);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover, .button--filter:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color-hero-footer);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-works__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-works__item:nth-child(3n) {
  margin-right: 0;
}

.gallery-works__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.card__img {
  display: block;
}

.card-back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--primary-white-color);
  background: var(--background-card-back-side);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.card:hover .card-back-side,
.card:focus .card-back-side {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-hero-footer);
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/*================= Контакты футера =================*/
.contacts-wrap {
  margin-right: 70px;
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--title-text-color-hero-footer);
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

/*================= social футера =================*/
.footer-social {
  margin-right: 93px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*================= Форма футера =================*/
.footer-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-form-label {
  margin-right: 12px;
}

.footer-form-input {
  width: 370px;
  height: 50px;
  padding-left: 16px;
  border-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:hover, .footer-form-input:focus {
  border-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color-modal);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__decoration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__span {
  margin-bottom: 4px;
}

.modal-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 38px;
  padding-right: 12px;
  width: 100%;
  height: 40px;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__label:hover .modal-form__input {
  border-color: var(--accent-color);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: var(--accent-color);
  outline-style: none;
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-text-color);
}

.modal-form__label:hover .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__input:hover ~ .modal-form__svg,
.modal-form__input:focus ~ .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__textarea {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline-style: none;
}

.form-mailing__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-svg-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-svg-checkbox:hover {
  border-color: var(--accent-color);
}

.form-input-checkbox {
  background-color: var(--accent-color);
}

.form-input-checkbox:checked + .form-svg-checkbox {
  background-color: var(--accent-color);
  border-style: none;
  background-origin: border-box;
}

.form-input-checkbox:hover:checked + .form-svg-checkbox {
  background-color: var(--button-hover);
}

.form-input-checkbox:focus + .form-svg-checkbox {
  border: 2px solid var(--title-text-color);
}

.form-mailing__span {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

.modal-form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  background-color: var(--title-text-color-hero-footer);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close:hover, .close:focus {
  fill: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */