.button {
  padding: 10px;

  text-decoration: none;
  border-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  color: var(--title-text-color-hero-footer);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}

.button--footer {
  display: flex;
  justify-content: center;

  fill: var(--title-text-color-hero-footer);
}

.button--icon {
  margin-left: 10px;
  align-self: center;
}

.button__modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button--dimensions {
  min-width: 200px;
  min-height: 50px;
}
