.customers__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
}

.customers__item {
  width: calc((100% - 30px) / 2);
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
  }
}

.customers__item:nth-child(2n) {
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.customers__item:nth-last-child(-n + 3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.customers__item:nth-child(3n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

.customers__item:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.customers__item:nth-child(6n) {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.customers__link {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--static-color-svg-icons);
  border-radius: 4px;
  fill: var(--static-color-svg-icons);

  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms border cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.customers__icon {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}
