.logo {
  font-family: var(--auxiliary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--header {
  margin-right: 93px;
  color: var(--header-logo);
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--title-text-color-hero-footer);
}
